<div class="row">

<%= form_for(@search, html: { multipart: true }) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="steps" class="panel-group steps col-md-8 col-md-offset-2">
    <div class="panel panel-default step" id="pane1">
      <div class="panel-heading">
        <h3 class="panel-title">Step 1</h3>
      </div>
      <div id="body1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>First, we need a photo of your dog. Make sure the photo contains your dog's face without any obstructions. Keep in mind that photos containing multiple dog faces may affect your search results.</p>
        <div class="field">
          <%= f.file_field :photo, title: "Upload a dog photo...", class: "btn btn-primary", id: "imgInp" %>
        </div>
        <div class="preview">
          <img id="img-preview" src="#" alt="uploaded dog image" style="opacity: 0;" />
        </div>
      </div>
      </div>
    </div>

  
    <div class="panel panel-default step" id="pane2">
      <div class="panel-heading">
        <h3 class="panel-title">Step 2</h3>
      </div>
      <div id="body2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="field">
          <%= f.text_field :date_lost, class: "datepicker form-control", placeholder: "Date lost" %>
        </div>
        <div class="field">
          <%= f.number_field :num_results, class: "form-control", placeholder: "Number of results" %>
        </div>
        
        <div id="fb-fields">
          <div class="field input-group" id="fb_1">
            <input type="text" class="form-control fb_url" id="search_facebook_url_string_1" name="search[facebook_url_string_1]" placeholder="Facebook URL" />
            <span class="input-group-btn"><button type="button" class="btn btn-success btn-add">+</button></span>
          </div>
          <div class="hide">
            <input type="text" class="form-control" id="facebook_url_string" name="search[facebook_url_string]" />
          </div>
        </div>
          <!--<%= f.text_field :facebook_url_string, class: "form-control" %>-->
          <button class="btn btn-primary" id="crawl">Next</button>
      </div>
    </div>
    </div>
  
    <div class="panel panel-default step" id="pane3">
      <div class="panel-heading">
        <h3 class="panel-title">Step 3</h3>
      </div>
      <div id="body3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="field">
          <%= f.text_field :email, class: "form-control", placeholder: "Email"%>
        </div>
        <div class="actions">
          <%= f.submit "Search for Dog", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    </div>
</div>
<% end %>
</div>