<p id="notice"><%= notice %></p>


<div class="container results" data-id="<%= @search.id %>">
  <div class="row" id="results-row" id="sidebar">
    <div class="col-md-3" id="sidebar">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your Dog</h3>
        </div>
        <div class="panel-body">
          <%= image_tag @search.photo.url(:thumb), class: "img-responsive img-rounded", id: "img-preview" %><br>
          <p><strong>
            Date Lost: <%= @search.date_lost.strftime('%m/%d/%Y') %>
            Number of Results: <%= @search.num_results%>
          </strong></p>
          <%= link_to 'Refresh', search_path(@search), class: "btn btn-primary btn-sm", role: "button" %>
          <%= link_to 'New Search', new_search_path, class: "btn btn-info btn-sm", role: "button" %>
        </div>
      </div>
    </div>
    <div class="col-md-9" id="results-col">
      <div class="panel panel-default">
      <!-- Results -->
      <div class="panel-heading">
        <h3 class="panel-title">Results</h3>
      </div>
      <div class="panel-body" id="results-body">
      <% @search.predictions.each do |prediction| %>
        <div class="media">
          <a class="pull-left" href="#">
            <%= image_tag("doge.png", class: "media-object logo") %>
            <!-- <img class="media-object" src="doge.png" alt="Doge"> -->
          </a>
          <div class="media-body">
            <h4 class="media-heading">Dog ID: <%= prediction.dog_id %></h4>
            Search ID: <%= prediction.search_id %> </br>
            ID: <%= prediction.id %> </br>
            <a href="http://<%= prediction.url %>" target="_blank">Source</a>
          </div>
        </div>
      <% end %>
    </div>
    </div>
    </div>
  </div>
</div>







<!-- <p>

  <%= image_tag @search.photo.url(:thumb) %>
</p>

<p class="panel-title">
  <strong>Date lost:</strong>
  <%= @search.date_lost %>
</p>

<p class="panel-title">
  <strong>Num results:</strong>
  <%= @search.num_results %>
</p>

<p>
  <strong>Email:</strong>
  <%= @search.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @search.status %>
</p>

<!-- It would be cool to splash in a little AJAX to check and bring back results
<% if @search.predictions.any? %>
  <p>
    <strong>Predictions:</strong>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Search ID</th>
        <th>Dog ID</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <% @search.predictions.each do |prediction| %>
        <tr>
          <td><%= prediction.id %></td>
          <td><%= prediction.search_id %></td>
          <td><%= prediction.dog_id %></td>
          <td><%= prediction.url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> -->


